body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
    width: 1em;
    background-color: #24292e;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #586069;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

::selection {
    background-color: #0070f3;
    color: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Inter, system, -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Arial, sans-serif;
    color: #24292e;
    background-color: #f6f8fa;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 500;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    color: #0070f3;
    display: inline-block;

}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

svg {
    fill: currentColor;
}

button {
    cursor: pointer;
    border: 0;
    border-radius: 0;
    transition: all 0.2s ease-in-out;
}

button:focus, button:active {
    outline: 0;
}

input {
    border-radius: 0;
    outline: 0;
}

input::placeholder:focus, input::placeholder:active {
    opacity: 0.5;
}

input:focus {

}
