.header {
    padding: 3rem 5rem 10rem 5rem;
    background-color: #1A1E22;
    color: #c8e1ff;
}

.commit__container--list {
    padding: 4rem;
    /*border: 1px solid black;*/
}

.commit {
    /*border: 1px solid black;*/
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 5px 30px -15px rgba(0, 0, 0, 0.2);
}

.commit__bottom--left > img {
    border-radius: 15px;
}

.commit__bottom--right > a > svg {
    color: black!important;
    font-size: 1.5rem;
    margin: 0 1rem;
}

.verified {
    color: #56d364;
    border: 1px solid #56d364;
    border-radius:10px ;
    padding: 3px  1rem;
    font-weight: bold;
}

.commit__bottom--left > h6 {
    display: flex;
    align-self: center;
}

.commit__bottom--left > p {
    display: flex;
    align-self: center;
}

.commit__bottom--left {
    display: flex;
}

.commit__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header > div {
    max-width: 1400px;
    margin: 0 auto;
}

.header__desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    text-align: center;
}

.repo__desc {
    color: #0070f3!important;
}

.repo__desc > svg {
    margin: 0;
}

@media(max-width: 400px) {
    .header {
        padding: 1rem;
    }
}

@media (max-width: 600px) {
    .header__desc {
        padding-top: 4rem;
    }
}

.commits__section {
    padding: 3rem 5rem;
    display: flex;
    justify-content: center;
}

.commits__container {
    min-width: 1199px!important;
    max-width: 1200px !important;
    background-color: #FFFFFF;
    margin-top: -8rem !important;

}

@media(max-width: 900px) {
    .commits__section {
        padding: 2rem;
    }

    .commits__container--list {
        justify-items: center;
    }
}

@media (max-width: 400px) {
    .commits__section {
        padding: 1rem;
    }
}


@media (max-width: 900px) {
    .header {
        padding: 2rem 0 10rem 0;
    }
}
